/Dissertation_Projects/*
git rm -r —cashed /Dissertation_Projects/2013_stressed_ants_in_warmingchambers/
/Dissertation_Projects/2013_stressed_ants_in_warmingchambers/*
/Early_PhD_thinking_work/*
/Global_Aphaenogaster_phylogeny_Bernice/*
/Manuscripts/*
/PHD_progress/*
/Programs/*
/Talks_posters_conferences/*