/Dissertation_Projects/2012_HSP_Molecular_Evolution/*
/Dissertation_Projects/2013_JSG_Transcriptomics/*
/Dissertation_Projects/2013_multiple_stressors/*
/Dissertation_Projects/2013_Phytotron_JSG_hsp_GXP/*
/Dissertation_Projects/2013_stressed_ants_in_warmingchambers/*
/Dissertation_Projects/2014_thermal_niche_breadth/*
/Dissertation_Projects/2015_REU_Aphaenogaster_distribution_abundance_Jordan_Megan/*
/Dissertation_Projects/2016_Protein_stability_evolution/*
/Dissertation_Projects/2014_xanbe-common-garden_gxp_evolution/2016_Comparative_HSs_CTmax_geneexpression_manuscript/*
/Dissertation_Projects/2014_xanbe-common-garden_gxp_evolution/Data/*
/Dissertation_Projects/2014_xanbe-common-garden_gxp_evolution/Script_Analyses/*

/Early_PhD_thinking_work/*
/Global_Aphaenogaster_phylogeny_Bernice/*
/Manuscripts/*
/PHD_progress/*
/Programs/*
/Talks_posters_conferences/*